<div class="header details">
  <h2>
    <%= list.title %>
  </h2>
  <ul class="tools">
    <li class="open">
      <%= link_to t('actions.open'), open_ajax_list_path(list),
                  remote: true, method: :put,
                  'data-type' => :json, 'data-id' => list.id,
                  class: 'icon-folder-open' %>
    </li>
    <% if list.private? %>
      <li>
        <%= link_to t('actions.share'), list_path(list), method: :put,
                    'data-private' => 0, class: 'icon-globe' %>
      </li>
    <% end %>
    <li class="copy">
      <%= link_to t('actions.copy'), copy_ajax_list_path(list),
                  class: 'icon-copy' %>
    </li>
    <li class="edit">
      <%= link_to t('actions.edit'), edit_ajax_list_path(list),
                  class: 'icon-pencil' %>
    </li>
    <li>
      <%= link_to t('actions.delete'), list_path(list), class: 'icon-trash',
                  method: :delete, 'data-password' => true,
                  confirm: t('messages.list.confirm.delete') %>
    </li>
  </ul>
  <ul class="tabs">
    <li class="experts-list">
      <%= link_to List.human_attribute_name(:experts), list_experts_path(list) %>
    </li>
    <li class="partners-list">
      <%= link_to List.human_attribute_name(:partners), list_partners_path(list) %>
    </li>
  </ul>
</div>

<script>
  $('div.header li.open a').siloOpenList();
  $('div.header li.edit a, div.header li.copy a').siloListForm();
</script>
