<div class="header details">
  <h2 class="<%= list.private ? 'icon-lock' : 'icon-globe' %>">
    <%= list.title %>
  </h2>
  <div class="markdown">
    <%= markdown list.comment.comment %>
  </div>
  <ul class="tools">
    <li class="open">
      <%= open_list_button_for list %>
    </li>
    <% if list.private? %>
      <li>
        <%= link_to t('actions.share'), list_path(list), method: :put,
                    'data-private' => 0, class: 'icon-globe' %>
      </li>
    <% end %>
    <li class="copy">
      <%= link_to t('actions.copy'), copy_ajax_list_path(list),
                  class: 'hidden-form icon-copy' %>
    </li>
    <li class="concat">
      <%= link_to t('actions.import'), import_ajax_list_path(list),
                  class: 'chooser icon-addtolist' %>
    </li>
    <li class="edit">
      <%= link_to t('actions.edit'), edit_ajax_list_path(list),
                  class: 'hidden-form icon-pencil' %>
    </li>
    <li>
      <%= delete_button_for list %>
    </li>
  </ul>
  <ul class="tabs">
    <li class="experts-list">
      <%= link_to List.human_attribute_name(:experts), list_experts_path(list) %>
    </li>
    <li class="partners-list">
      <%= link_to List.human_attribute_name(:partners), list_partners_path(list) %>
    </li>
  </ul>
</div>
