<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_header', list: @list %>

  <table class="experts">
    <thead>
      <tr>
        <th>
        </th>
        <% [:name, :prename, :degree, :age, :country, :cvs].each do |attr| %>
          <th>
            <%= Expert.human_attribute_name(attr) %>
          </th>
        <% end %>
        <th class="attachments">
        </th>
      </tr>
    </thead>
    <tbody>
      <% @list.experts.each do |expert| %>
        <tr>
          <td>
          </td>
          <td class="<%= expert.gender %>">
            <%= link_to expert.name, expert_path(expert) %>
          </td>
          <td>
            <%= listable_expert_tag(expert) %>
            <%= link_to expert.prename, expert_path(expert) %>
          </td>
          <td>
            <%= expert.degree %>
          </td>
          <td>
            <%= expert.age %>
          </td>
          <td>
            <%= expert.country.try(:human) %>
          </td>
          <td class="cvs">
            <%= list_cvs expert, class: 'icon-file' %>
          </td>
          <td class="attachments">
            <% unless expert.attachments.empty? %>
              <%= link_to(t('labels.expert.documents'),
                          documents_expert_path(expert),
                          class: 'icon-attachment') %>
            <% end %>
          </td>
          <td class="removefromlist">
            <%= link_to t('actions.remove'), [@list, expert],
                        method: :delete, class: 'icon-removefromlist' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
