<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_header', list: @list %>

  <table class="partners">
    <thead>
      <tr>
        <% [:company, :city, :country].each do |col| %>
          <th>
            <%= Partner.human_attribute_name(col) %>
          </th>
        <% end %>
        <th class="attachments">
        </th>
      </tr>
    </thead>
    <tbody>
      <% @list.partners.each do |partner| %>
        <tr>
          <td>
            <%= link_to partner.company, partner_path(partner) %>
          </td>
          <td>
            <%= partner.city %>
          </td>
          <td>
            <%= partner.country.try(:human) %>
          </td>
          <td class="removefromlist">
            <%= remove_from_list_button_for @list, partner %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
