<div class="overlay open-list">
  <div class="header">
    <h2>
      <%= t 'label.list.lists' %>
    </h2>
    <div class="abort button">
      <%= t 'actions.abort' %>
    </div>
  </div>
  <div class="select">
    <div class="form-wrapper">
      <%= form_tag select_lists_path, method: :get, remote: true, class: 'search' do %>
        <div>
          <%= text_field_tag :title, nil, placeholder: List.human_attribute_name(:title) %>
          <%= submit_tag t('actions.search') %>
        </div>
      <% end %>
    </div>
    <div class="form-wrapper last">
      <%= form_for List.new, method: :post, remote: true,
                             html: {'data-type' => :json, class: 'new'} do |f| %>
        <div>
          <%= f.text_field :title, placeholder: List.human_attribute_name(:title) %>
          <%= f.submit t('actions.save') %>
        </div>
      <% end %>
    </div>
    <table>
      <tbody>
        <% @lists.each do |list| %>
          <tr>
            <td>
              <%= list.title %>
            </td>
            <td>
              <%= link_to t('actions.use'), use_list_path(list),
                          method: :put, remote: true, 'data-type' => :json, class: 'icon-folder-open' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
