<div class="multi-select tags">
  <div class="header">
    <h2>
      <%= @title %>
    </h2>
    <div class="submit button">
      <%= t 'actions.submit' %>
    </div>
    <div class="abort button">
      <%= t 'actions.abort' %>
    </div>
  </div>
  <div class="select" data-filtered="true">
    <form class="filter">
      <input type="text"/>
    </form>
    <ul>
      <% @tags.in_groups(4, false) do |group| %>
        <li class="col">
          <ul>
            <% group.each do |tag| %>
              <li class="item">
                <%= check_box_tag tag.id, 1, false, 'data-name' => tag.to_s %>
                <%= label_tag tag.id, tag.to_s %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
