<%= render 'partners/sidebar' %>

<div id="main">
  <%= render 'partners/details_header', partner: @partner %>

  <div class="employees">
    <% if current_user.access?(:partners) %>
      <div class="submenu">
         <%= link_to t('labels.employee.new'),
                     new_ajax_partner_employee_path(@partner),
                     class: 'hidden-form icon-plus' %>
      </div>
    <%end %>

    <div class="employees">
      <% if @partner.employees.empty? %>
        <div class="empty">
          <%= t 'messages.partner.errors.no_employees' %>
        </div>
      <% else %>
        <% @partner.employees.in_groups(2, false) do |group| %>
          <div class="group">
            <% group.each do |employee| %>
              <div class="employee <%= employee.gender %>">
                <div class="head">
                  <h4>
                    <%= employee.full_name_with_title %>
                  </h4>
                  <% if current_user.access?(:partners) %>
                    <div class="tools">
                      <%= link_to t('labels.contact.new'),
                                  new_ajax_employee_contact_path(employee),
                                  class: 'hidden-form icon-plus' %>

                      <%= link_to t('actions.edit'),
                                  edit_ajax_partner_employee_path(@partner, employee),
                                  class: 'hidden-form icon-pencil' %>

                      <%= delete_button_for employee,
                                            url: partner_employee_path(@partner, employee),
                                            password: false %>
                    </div>
                  <% end %>
                  <h5>
                    <%= employee.job %>
                  </h5>
                </div><!-- head -->

                <div class="contacts">
                  <%= render 'shared/contacts_table', parent: employee %>
                </div>
              </div><!-- employee -->
            <% end %>
          </div><!-- group -->
        <% end %>
      <% end %>
    </div>
  </div><!-- employees -->

  <div class="clear"></div>
</div>
