<div class="header details">
  <h2>
    <%= partner.company %>
  </h2>
  <h3>
    <%= Partner.human_attribute_name(:updated_at) %>
    <%= l partner.updated_at, format: :short %>
    <%= t 'labels.generic.by', name: partner.user.try(:full_name) %>
  </h3>
  <ul class="tools">
    <li>
      <%= link_to(ajax_list_partner_path(list_id: :current, id: partner, format: :json),
                  'data-id' => partner.id, class: 'listable') do %>
        <span class="inactive">
          <%= t 'labels.list.add' %>
        </span>
        <span class="active">
          <%= t 'labels.list.remove' %>
        </span>
      <% end %>
    </li>
    <% if current_user.access?(:partners) %>
      <li>
        <%= link_to(t('actions.edit'), edit_partner_path(partner),
                    class: 'icon-pencil') %>
      </li>
      <li>
        <%= link_to t('actions.delete'), partner_path(partner), class: 'icon-trash',
                    method: :delete, 'data-password' => true,
                    confirm: t('messages.partner.confirm.delete') %>
      </li>
    <% end %>
  </ul>
  <ul class="tabs">
    <li class="show">
      <%= link_to t('labels.partner.details'), partner_path(partner) %>
    </li>
    <li class="employees">
      <%= link_to t('labels.partner.employees'), partner_employees_path(partner) %>
    </li>
    <li class="documents">
      <%= link_to t('labels.partner.documents'), documents_partner_path(partner) %>
    </li>
  </ul>
</div>

<script>
  $('ul.tools li a.listable').siloListable('partners');
</script>
