<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_sidebar', partner: @partner %>

  <div class="tabbed-content">
    <ul class="tabs">
      <li class="show">
        <%= link_to t('labels.partner.details'), partner_path(@partner) %>
      </li>
      <li class="employees">
        <%= link_to t('labels.partner.employees'), partner_employees_path(@partner) %>
      </li>
      <li class="documents">
        <%= link_to t('labels.partner.documents'), documents_partner_path(@partner) %>
      </li>
    </ul>

    <div class="content">
      <% if current_user.access?(:partners) %>
        <div class="tools">
          <%= link_to t('labels.attachment.new'),
                      new_ajax_partner_attachment_path(@partner),
                      class: 'hidden-form icon-plus' %>
        </div>
      <% end %>

      <div class="docs info">
        <div class="attachments">
          <h4>
            <%= Partner.human_attribute_name :attachments %>
          </h4>

          <%= render 'shared/attachments_table', parent: @partner %>
        </div>
      </div>
    </div>
  </div>

  <div class="clear"></div>
</div>
