<%= render 'sidebar' %>

<div id="main">
  <div>
    <div class="header">
      <div id="filter">
        <%= form_tag partners_path, method: :get do %>
          <div class="row name">
            <div class="company">
              <%= text_field_tag :company, params[:company], autofocus: true,
                    placeholder: Partner.human_attribute_name(:company) %>
            </div>
            <div class="business">
              <%= multi_select_field_tag :business, nil, arrayified_param(:businesses),
                    placeholder: Partner.human_attribute_name(:business) %>
            </div>
            <div class="country">
              <%= multi_select_field_tag :country, nil, arrayified_param(:countries),
                    grouped: true, placeholder: Partner.human_attribute_name(:country) %>
            </div>
          </div>
          <div class="row q">
            <%= text_field_tag :q, params[:q], 'data-help' => 'fulltext',
                  placeholder: Partner.human_attribute_names(:description, :comment) %>
            <%= submit_tag t('actions.search') %>
          </div>
        <% end %>
      </div>
      <%= paginate @partners %>
      <ul class="tools">
        <li>
          <%= link_to t('actions.print'), url_for(params.merge(format: :pdf)),
                      class: 'icon-print' %>
        </li>
      </ul>
    </div>
    <table class="partners">
      <thead>
        <tr>
          <th>
            <%= listable_button_for @partners %>
            <%= Partner.human_attribute_name :company %>
          </th>
          <% [:city, :country].each do |col| %>
            <th>
              <%= Partner.human_attribute_name(col) %>
            </th>
          <% end %>
          <th class="attachments">
          </th>
        </tr>
      </thead>
      <tbody>
        <% @partners.each do |partner| %>
          <tr>
            <td>
              <%= listable_button_for partner %>
              <%= link_to partner.company, partner_path(partner) %>
            </td>
            <td>
              <%= partner.city %>
            </td>
            <td>
              <%= partner.country.try(:human) %>
            </td>
            <td class="attachments">
              <% unless partner.attachments.empty? %>
                <%= link_to t('labels.partner.documents'),
                            documents_partner_path(partner),
                            class: 'icon-attachment' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination bottom">
      <%= paginate @partners %>
    </div>
  </div>
</div>
