<%= render 'sidebar' %>

<div id="main">
  <div>
    <div id="header">
      ---
    </div>
    <table class="partners">
      <thead>
        <tr>
          <% [:company, :businesses, :city, :region, :country].each do |col| %>
            <th>
              <%= Partner.human_attribute_name(col) %>
            </th>
          <% end %>
          <th class="attachments">
          </th>
        </tr>
      </thead>
      <tbody>
        <% @partners.each do |partner| %>
          <tr>
            <td>
              <%= link_to partner.company, partner_path(partner) %>
            </td>
            <td>
              <%= partner.businesses.join(', ') %>
            </td>
            <td>
              <%= partner.city %>
            </td>
            <td>
              <%= partner.region %>
            </td>
            <td>
              <%= partner.country.human %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
