<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_header', partner: @partner %>

  <div class="left">
    <div class="info">
      <div class="row">
        <div class="businesses">
          <h4><%= Partner.human_attribute_name :businesses %></h4>
          <p><%= @partner.businesses.join(', ') %></p>
        </div>
      </div>
      <div class="row">
        <div class="advisers">
          <h4><%= Partner.human_attribute_name :advisers %></h4>
          <p><%= @partner.advisers.join(', ') %></p>
        </div>
      </div>
      <div class="row">
        <div class="comments">
          <h4><%= Partner.human_attribute_name :description %></h4>
          <%= markdown @partner.description %>
        </div>
      </div>
      <div class="row last">
        <div class="comments">
          <h4><%= Partner.human_attribute_name :comment %></h4>
          <%= markdown @partner.comment %>
        </div>
      </div>
    </div>
  </div><!-- left -->

  <div class="right">
    <div class="info address">
      <div class="row">
        <h4><%= Partner.human_attribute_name :address %></h4>
        <p><%= @partner.street %></p>
        <p><%= @partner.zip %> <%= @partner.city %> <%= @partner.region %></p>
        <p><%= @partner.country %></p>
      </div>
      <div class="row">
        <h4><%= Partner.human_attribute_name :website %></h4>
        <p><%= @partner.website %></p>
      </div>
      <div class="row">
        <h4><%= Partner.human_attribute_name :email %></h4>
        <p><%= @partner.email %></p>
      </div>
      <div class="row last">
        <h4><%= Partner.human_attribute_name :phone %></h4>
        <p><%= @partner.phone %></p>
      </div>
    </div>
  </div><!-- right -->

  <div class="clear"></div>
</div>
