<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_sidebar', partner: @partner %>

  <div class="tabbed-content">
    <%= render 'tabs', partner: @partner %>

    <div class="content">
      <div class="left">
        <ul class="info">
          <li class="businesses">
            <h4><%= Partner.human_attribute_name :businesses %></h4>
            <p><%= @partner.businesses.join(', ') %></p>
          </li>
          <li class="advisers">
            <h4><%= Partner.human_attribute_name :advisers %></h4>
            <p><%= @partner.advisers.join(', ') %></p>
          </li>
          <li class="comments">
            <h4><%= Partner.human_attribute_name :description %></h4>
            <%= markdown @partner.description %>
          </li>
          <li class="comments">
            <h4><%= Partner.human_attribute_name :comment %></h4>
            <%= markdown @partner.comment %>
          </li>
          <li>
            <h4><%= Partner.human_attribute_name :projects %></h4>
            <ul>
              <% if @partner.projects.empty? %>
                <li class="empty"><%= t 'messages.partner.errors.no_projects' %></li>
              <% else %>
                <% @partner.projects.each do |project| %>
                  <li><%= link_to project.to_s, project %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
        </ul>
      </div><!-- left -->

      <div class="right">
        <ul class="info addresses">
          <li>
            <h4><%= Partner.human_attribute_name :address %></h4>
            <p><%= @partner.street %></p>
            <p><%= @partner.zip %> <%= @partner.city %></p>
            <p><%= @partner.region %></p>
            <p><%= @partner.country %></p>
          </li>
          <li>
            <h4><%= Partner.human_attribute_name :website %></h4>
            <p><%= contact_value @partner.website, :websites %></p>
          </li>
          <li>
            <h4><%= Partner.human_attribute_name :email %></h4>
            <p><%= contact_value @partner.email, :emails %></p>
          </li>
          <li>
            <h4><%= Partner.human_attribute_name :phone %></h4>
            <p><%= contact_value @partner.phone, :phones %></p>
          </li>
          <li>
            <h4><%= Partner.human_attribute_name :fax %></h4>
            <p><%= contact_value @partner.fax, :fax %></p>
          </li>
        </ul>
      </div><!-- right -->
    </div><!-- content -->
  </div><!-- tabbed -->

  <div class="clear"></div>
</div>
