<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_header', partner: @partner %>

  <div class="left">
    <div class="info">
      <div class="row">
        <div class="businesses">
          <h4><%= Partner.human_attribute_name :businesses %></h4>
          <p>
            <%= @partner.businesses.join(', ') %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="comments">
          <h4><%= Partner.human_attribute_name :comment %></h4>
          <%= markdown @partner.comment %>
        </div>
      </div>
      <div class="row last">
        <div class="contact-persons">
          <h4><%= Partner.human_attribute_name :contact_persons %></h4>
          <table class="within">
            <% if @partner.contact_persons.empty? %>
              <tr>
                <td class="empty">
                  <%= t 'messages.partner.errors.no_contact_persons' %>
                </td>
              </tr>
            <% else %>
              <% @partner.contact_persons.each do |user| %>
                <tr>
                  <td>
                    <%= user.full_name %>
                  </td>
                  <td>
                    <%= mail_to user.email %>
                  </td>
                </tr>
              <%end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div><!-- left -->

  <div class="right">
    <div class="info address">
      <div class="row">
        <h4><%= Partner.human_attribute_name :address %></h4>
        <p><%= @partner.street %></p>
        <p><%= @partner.zip %> <%= @partner.city %> <%= @partner.region %></p>
        <p><%= @partner.country %></p>
      </div>
    </div><!-- address -->
    <div class="info contacts">
      <div class="row last">
        <% if current_user.access?(:partners) %>
          <div class="tools">
            <%= link_to t('labels.contact.new'),
                        new_ajax_partner_contact_path(@partner),
                        class: 'hidden-form icon-plus tool' %>
          </div>
        <% end %>
        <h4><%= Partner.human_attribute_name :contacts %></h4>
        <%= render 'shared/contacts_table', parent: @partner %>
      </div>
    </div><!-- contacts -->
  </div><!-- right -->
  <div class="clear"></div>
</div>
