<div class="overlay project-partners">
  <div class="header">
    <h2>
      <%= t :new, scope: [:labels, :partner] %>
    </h2>
    <div class="abort button">
      <%= t 'actions.abort' %>
    </div>
  </div>
  <div class="form-wrapper">
    <%= form_tag search_ajax_project_partners_path(@project), method: :get, remote: true do %>
      <div class="search">
        <%= text_field_tag :company, nil, placeholder: t('labels.generic.search'), autofocus: true %>
      </div>
    <% end %>

    <div id="results">
      <%= render 'results', project: @project, partners: @partners %>
    </div>
  </div>
</div>
