<%= render 'sidebar' %>

<div id="main">
  <h2>
    <%= @title %>
  </h2>
  <div class="form-wrapper">
    <%= form_for @user do |f| %>
      <div class="field-box base left">
        <p>
          <%= f.label :username %>
          <%= f.text_field :username %>
        </p>
        <p>
          <%= f.label :email %>
          <%= f.text_field :email %>
        </p>
        <p>
          <table>
            <tr>
              <td>
                <%= f.label :password %>
              </td>
              <td>
                 <%= f.label :password_confirmation %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.password_field :password %>
              </td>
              <td>
                 <%= f.password_field :password_confirmation %>
              </td>
            </tr>
          </table>
        </p>
      </div>
      <div class="field-box more right">
        <p>
          <table>
            <tr>
              <td>
                <%= f.label :prename %>
              </td>
              <td>
                 <%= f.label :name %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.text_field :prename %>
              </td>
              <td>
                 <%= f.text_field :name %>
              </td>
            </tr>
          </table>
        <p>
        <p>
          <%= f.label :locale, class: 'select-box-label' %>
          <%= f.select :locale, list_locales %>
        </p>
      </div>
      <div class="field-box more right <%= ' disabled' if current_user?(@user) %>">
        <%= fields_for @user.privilege do |p| %>
          <p>
            <%= f.label :privileges %>
            <%= p.check_box :admin, disabled: current_user?(@user) %>
            <%= p.label :admin, class: 'check-box-label' %>
            <% Privilege::SECTIONS.each do |section| %>
              <%= p.check_box section, disabled: current_user?(@user) %>
              <%= p.label section, class: 'check-box-label' %>
            <% end %>
          </p>
        <% end %>
      </div>
      <div class="field-box buttons">
        <p>
          <%= f.submit %>
        </p>
        <br/>
      </div>
    <% end %>
  </div>
</div>
