<%= render 'sidebar' %>

<div id="main">
  <h2>
    <%= @title %>
  </h2>
  <div class="form-wrapper">
    <%= form_for @user do |f| %>
      <div class="row main">
        <ul>
          <li>
            <%= f.label :username %>
            <%= f.text_field :username %>
          </li>
          <li>
            <%= f.label :email %>
            <%= f.text_field :email %>
          </li>
          <li>
            <%= f.label :password %>
            <%= f.password_field :password %>
          </li>
          <li>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </li>
        </ul>
        <ul>
          <li>
            <%= f.label :prename %>
            <%= f.text_field :prename %>
          </li>
          <li>
            <%= f.label :name %>
            <%= f.text_field :name %>
          </li>
          <li class="privileges <%= ' disabled' if current_user?(@user) %>">
            <%= fields_for @user.privilege do |p| %>
              <%= f.label :privileges %>
              <% Privilege::SECTIONS.each do |section| %>
                <%= p.check_box section, disabled: current_user?(@user) %>
                <%= p.label section, class: 'check-box-label' %>
              <% end %>
              <%= p.check_box :admin, disabled: current_user?(@user) %>
              <%= p.label :admin, class: 'check-box-label' %>
            <% end %>
          </li>
          <li>
            <%= f.label :locale %>
            <%= f.select :locale, list_locales %>
            <%= f.submit %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
</div>
