<%= render 'sidebar' %>

<div id="main">
  <h2>
    <%= @title %>
  </h2>
  <table class="users">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <p>
              <strong><%= user.full_name %></strong> (<%= user.username%>)
            </p>
            <p>
              <%= mail_to user.email %>
            </p>
          </td>
          <td class="privileges">
            <p>
              <strong><%= t 'label.registered_on' %>:</strong> 
              <%= l user.created_at, format: :short  %>
            </p>
            <p>
              <%= list_privileges(user) %>
            </p>
          </td>
          <td class="icons">
            <p>
              <%= link_to t('action.edit'), edit_user_path(user) %>
            </p>
            <p>
              <%= button_to t('action.delete'), user_path(user), method: :delete %>
            </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
