<%= render 'sidebar' %>

<div id="main">
  <table class="users">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="icon-<%= user.admin? ? 'admin' : 'user' %>">
            <p>
              <%= full_user_link(user) %>
            </p>
            <p>
              <%= mail_to user.email %>
            </p>
          </td>
          <td class="privileges">
            <p>
              <strong>
                <%= User.human_attribute_name(:created_at) %>:
              </strong>
              <%= l user.created_at, format: :short  %>
            </p>
            <p>
              <%= list_privileges(user, 'icon-ok') %>
            </p>
          </td>
          <td class="icons">
            <ul>
              <li>
                <%= link_to(t('actions.edit'), edit_user_path(user),
                            class: 'icon-pencil') %>
              </li>
              <li>
                <%= button_to(t('actions.delete'), user_path(user),
                              method: :delete, class: 'delete icon-trash',
                              confirm: t('messages.user.confirm.delete'))  %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
