<table>
  <tbody>
    <% if parent.cvs.empty? %>
      <tr class="empty">
        <td>
          <%= t "messages.#{parent.class.to_s.downcase}.errors.no_cvs" %>
        </td>
      </tr>
    <% else %>
      <% parent.cvs.each do |cv| %>
        <tr>
          <td>
            <%= link_to cv.language.human, [parent, cv], class: 'icon-file' %>
          </td>
          <td>
            <%= cv.ext %>
          </td>
          <td>
            <%= l(cv.created_at, format: :long) if cv.created_at %>
          </td>
          <% if current_user.access?(parent.class.to_s.tableize) %>
            <td class="del">
              <%= delete_button_for cv, url: [parent, cv], password: false %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
