<%= render 'sidebar' %>

<div id="main">
  <div>
    <h2 class="icon-project-edit">
      <%= @title %>
    </h2>
    <div>
      <%= project_form_selector @info %>
    </div>
    <% unless @project.errors.empty? %>
      <%= render 'shared/validation_errors', model: @project %>
    <% end %>
    <div class ="form-wrapper">
      <%= form_for @project do |f| %>
        <%= fields_for :project_info, @info do |i| %>
          <div class="row main">
            <div class="title">
              <%= i.label :title %>
              <%= i.text_field :title %>
            </div>
            <div class="status">
              <%= f.label :status %>
              <%= f.select :status, Project.status_values %>
            </div>
          </div>
          <div class="row">
            <div class="country">
              <%= f.label :country %>
              <%= f.country_select :country_id %>
            </div>
            <div class="region">
              <%= i.label :region %>
              <%= i.text_field :region %>
            </div>
          </div>
          <div class="row main">
            <div class="title">
              <%= i.label :client %>
              <%= i.text_field :client %>
            </div>
          </div>
          <div class="row">
            <div class="funders">
              <%= i.label :funders %>
              <%= i.text_field :funders %>
            </div>
            <div class="order_value_us">
              <%= f.label :order_value_us %>
              <%= f.text_field :order_value_us %>
            </div>
            <div class="order_value_eur">
              <%= f.label :order_value_eur %>
              <%= f.text_field :order_value_eur %>
            </div>
          </div>
          <div class="row">
            <div class="carried_proportion">
              <%= f.label :carried_proportion %>
              <%= f.text_field :carried_proportion %>
            </div>
          </div>
          <div class="row">
            <div class="start">
              <%= f.label :start %>
              <%= f.text_field :start %>
            </div>
            <div class="end">
              <%= f.label :end %>
              <%= f.text_field :end %>
            </div>
          </div>
          <div class="row">
            <div class="focus">
              <%= i.label :focus, 'data-help' => 'markdown' %>
              <%= i.text_area :focus %>
            </div>
            <div class="description">
              <%= i.label :description %>
              <%= i.text_area :description %>
            </div>
            <div class="service_details">
              <%= i.label :service_details %>
              <%= i.text_area :service_details %>
            </div>
          </div>
          <div class="row">
            <div class="submit">
              <%= i.hidden_field :language %>
              <%= f.submit t('actions.save') %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>
