<%= render 'sidebar' %>

<div id="main">
  <div>
    <div clas="header">
      <div class="filter">

      </div>
      <%= paginate @projects %>
    </div>
    <table class="projects">
      <thead>
        <tr>
          <th>
            <%= listable_button_for @projects %>
            <%= ProjectInfo.human_attribute_name :title %>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <% if project.info? %>
            <tr>
              <td>
                <%= listable_button_for project %>
                <%= link_to project.info.title, project_path(project, lang: project.info.language) %>
              </td>
              <td>
                <%= list_infos project %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="pagination bottom">
    <%= paginate @projects %>
  </div>
</div>
