<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_sidebar', info: @info %>

  <div class="tabbed-content">
    <%= render 'tabs', info: @info %>

    <div class="content">
      <ul class="tools">
        <li class="language-select">
          <%= project_info_selector(@info) %>
        </li>
      </ul>

      <div class="left">
        <ul class="info">
          <li class="start">
            <h4><%= Project.human_attribute_name :start %></h4>
            <p><%= @project.human_start(:short) %></p>
          </li>
          <li class="end">
            <h4><%= Project.human_attribute_name :end %></h4>
            <p><%= @project.human_end(:short) %></p>
          </li>
          <li class="status">
            <h4><%= Project.human_attribute_name :status %></h4>
            <p><%= @project.human_status %></p>
          </li>
          <li class="carried-proportion">
            <h4><%= Project.human_attribute_name :carried_proportion %></h4>
            <p><%= @project.carried_proportion %></p>
          </li>
          <li class="country">
            <h4><%= Project.human_attribute_name :country %></h4>
            <p><%= @project.country.try(:human) %></p>
          </li>
          <li class="region">
            <h4><%= ProjectInfo.human_attribute_name :region %></h4>
            <p><%= @info.region %></p>
          </li>
          <li class="address">
            <h4><%= ProjectInfo.human_attribute_name :address %></h4>
            <p><%= @info.address %></p>
          </li>
        </ul>
      </div><!-- left -->

      <div class="right">
        <ul class="info">
          <li class="client">
            <h4><%= ProjectInfo.human_attribute_name :client %></h4>
            <p><%= @info.client %></p>
          </li>
          <li class="funders">
            <h4><%= ProjectInfo.human_attribute_name :funders %></h4>
            <p><%= @info.funders %></p>
          </li>
          <li class="order-value-us">
            <h4><%= Project.human_attribute_name :order_value_us %></h4>
            <p><%= @project.order_value_us %></p>
          </li>
          <li class="order-value-eu">
            <h4><%= Project.human_attribute_name :order_value_eur %></h4>
            <p><%= @project.order_value_eur %></p>
          </li>
          <li class="staff">
            <h4><%= ProjectInfo.human_attribute_name :staff %></h4>
            <p><%= @info.staff %></p>
          </li>
          <li class="staff-months">
            <h4><%= ProjectInfo.human_attribute_name :staff_months %></h4>
            <p><%= @info.staff_months %></p>
          </li>
        </ul>
      </div><!-- right -->

      <div class="wide">
        <ul class="info">
          <li class="focus">
            <h4><%= ProjectInfo.human_attribute_name :focus %></h4>
            <p><%= @info.focus %></p>
          </li>
          <li class="description">
            <h4><%= ProjectInfo.human_attribute_name :description %></h4>
            <p><%= @info.description %></p>
          </li>
          <li class="service-details">
            <h4><%= ProjectInfo.human_attribute_name :service_details %></h4>
            <p><%= @info.service_details %></p>
          </li>
        </ul>
      </div><!-- wide -->
    </div>
  </div>
  <div class="clear"></div>
</div>
