<div class="overlay list-form">
  <div class="header">
    <h2>
      <%= t params[:action], scope: [:labels, :list] %>
    </h2>
    <div class="submit button">
      <%= t 'actions.save' %>
    </div>
    <div class="abort button">
      <%= t 'actions.abort' %>
    </div>
  </div>
  <div class="form-wrapper">
    <%= form_for @list, url: @url do |f| %>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <%= f.fields_for :comment do |fields| %>
        <div>
          <%= fields.label :comment %>
          <%= fields.text_area :comment %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
