<div class="overlay open-list">
  <div class="header">
    <h2>
      <%= t 'labels.sections.lists' %>
    </h2>
    <div class="abort button">
      <%= t 'actions.abort' %>
    </div>
  </div>
  <div class="select form-wrapper">
    <div>
      <%= form_tag ajax_lists_path, method: :get, remote: true, class: 'search' do %>
        <div>
          <%= text_field_tag :title, nil, placeholder: t('labels.list.search') %>
          <%= submit_tag t('actions.search') %>
        </div>
      <% end %>
    </div>
    <div class="last">
      <%= form_for List.new, url: ajax_lists_path, method: :post, remote: true,
                             html: {'data-type' => :json, class: 'new'} do |f| %>
        <div>
          <%= f.submit t('actions.save') %>
          <%= f.text_field :title, placeholder: t('labels.list.create') %>
        </div>
      <% end %>
    </div>
    <table>
      <tbody>
        <% @lists.each do |list| %>
          <tr>
            <td>
              <%= icon(list.private? ? :lock : :globe) %>
            </td>
            <td>
              <%= list.title %>
            </td>
            <td>
              <%= open_list_tag list %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
