<div class="overlay choose-list">
  <div class="header">
    <h2>
      <%= @title %>
    </h2>
    <div class="abort button">
      <%= t 'actions.abort' %>
    </div>
  </div>
  <div class="select form-wrapper">
    <form>
      <input type="text" placeholder="<%= t 'labels.list.search' %>"/>
    </form>
    <table>
      <tbody>
        <% @lists.each do |list| %>
          <tr data-index="<%= list.title %>">
            <td>
              <%= icon(list.private? ? :lock : :globe) %>
            </td>
            <td>
              <%= list.title %>
            </td>
            <td>
              <% if params[:action] == 'import' %>
                <%= import_list_button_for @list, list %>
              <% else %>
                <%= open_list_button_for list %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
