<div class="overlay employee-form">
  <div class="header">
    <h2>
      <%= t params[:action], scope: [:labels, :employee] %>
    </h2>
    <div class="submit button">
      <%= t 'actions.save' %>
    </div>
    <div class="abort button">
      <%= t 'actions.abort' %>
    </div>
  </div>
  <div class="form-wrapper">
    <%= form_for @employee, url: @url do |f| %>
      <div class="row">
        <div class="form-of-address">
          <%= f.label :form_of_address %>
          <%= f.text_field :form_of_address %>
        </div>
      </div>
      <div class="row">
        <div class="prename">
          <%= f.label :prename %>
          <%= f.text_field :prename %>
        </div>
        <div class="name">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="row">
        <%= f.label :job %>
        <%= f.text_field :job %>
      </div>
    <% end %>
  </div>
</div>
