<div class="overlay cv-form">
  <div class="header">
    <h2>
      <%= t 'labels.cv.new' %>
    </h2>
    <div class="submit button">
      <%= t 'actions.save' %>
    </div>
    <div class="abort button">
      <%= t 'actions.abort' %>
    </div>
  </div>
  <div class="form-wrapper">
    <%= form_for @cv, url: @url do |f| %>
      <div>
        <%= f.label :language %>
        <%= f.language_select :language %>
      </div>
      <div>
        <%= f.label :file %>
        <%= f.file_field :file %>
     </div>
    <% end %>
  </div>
</div>
