<%= render 'lists/sidebar' %>

<div id="main">
  <%= render 'lists/details_sidebar', list: @list %>

  <div class="tabbed-content">
    <ul class="tabs">
      <li class="experts-list">
        <%= link_to List.human_attribute_name(:experts), list_experts_path(@list) %>
      </li>
      <li class="partners-list">
        <%= link_to List.human_attribute_name(:partners), list_partners_path(@list) %>
      </li>
    </ul>

    <div class="content">
      <ul class="tools">

        <li class="export toggle-drop-down">
          <p class="icon-download">
            <%= t('actions.export') %>
          </p>
          <ul class="dropdown">
            <li>
              <p class="label-experts"><%= List.human_attribute_name(:experts) %></p>
              <p class="label-partners"><%= List.human_attribute_name(:partners) %></p>
            </li>
            <li>
              <%= link_to t('actions.csv'), url_for(params.merge(format: :csv)), 
                                            class: 'icon-file' %>
            </li>
            <li>
              <%= link_to t('actions.excel'), url_for(params.merge(format: :xlsx)), 
                                            class: 'icon-file' %>
            </li>
            <li>
              <p><%= t('labels.partner.employees') %></p>
            </li>
            <li>
              <%= link_to t('actions.csv'), list_employees_path(list_id: @list, format: :csv), 
                                            class: 'icon-file' %>
            </li>
            <li>
              <%= link_to t('actions.excel'), list_employees_path(list_id: @list, format: :xlsx), 
                                                          class: 'icon-file' %>
            </li>
          </ul>
        </li>

        <li class="print">
          <%= print_list_button_for(@list, @item_type) %>
        </li>

      </ul>

      <table class="list-items">
        <thead>
          <tr>
            <th>
              <%= ListItem.human_attribute_name(:name) %>
            </th>
            <th>
              <%= ListItem.human_attribute_name(:note) %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% if @items.empty? %>
            <tr class="empty">
              <td>
                <%= t "messages.list.errors.no_#{@item_type}" %>
              </td>
            </tr>
          <% else %>
            <% @items.each do |list_item| %>
              <tr>
                <td>
                  <%= link_to list_item.name, list_item.item %>
                </td>
                <td class="note">
                  <%= editable_button_for list_item, :note, url: [:ajax, @list, list_item] %>
                </td>
                <td class="removefromlist">
                  <%= remove_from_list_button_for @list, list_item %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div><!-- content -->
  </div><!-- tabbed-content -->

  <div class="clear"></div>
</div>


<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready(function($){
  $('.toggle-drop-down').click(function(e){
    $(this).toggleClass('active');
    e.stopPropagation();

    $(document).click(function(){
      $('.toggle-drop-down').toggleClass('active');
      $(this).unbind('click');
    });
  })
})
</script>