<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8"/>
    <title><%= @title %> | silo</title>

    <%= favicon_link_tag %>
    <%= stylesheet_link_tag 'silo', media: :all %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= body_class %>">
    <div id="wrapper">
      <header id="header">
        <h1>
          <%= link_to 'silo', root_path, class: 'logo' %>
        </h1>
        <%= flash_all %>
        <ul id="user-tools">
          <li>
            <%= link_to t('actions.logout'), login_path, method: :delete,
                        class: 'icon-signout-after' %>
          </li>
          <% if current_user.admin? %>
            <li>
              <%= link_to t('labels.sections.users') , users_path, class: 'icon-cog-after'%>
            </li>
          <% end %>
          <li>
            <%= link_to current_user.full_name, profile_path, class: 'icon-user-after'%>
          </li>
        </ul>
      </header>
      <nav id="nav">
        <ul>
          <li class="experts">
            <%= link_to t('labels.sections.experts'), experts_path %>
          </li>
          <li class="partners">
            <%= link_to t('labels.sections.partners'), partners_path %>
          </li>
          <li class="references">
            <%= link_to t('labels.sections.references'), references_path %>
          </li>
          <li id="current-list" class="<%= 'active' if current_list %>">
            <div class="title">
              <span><%= t 'labels.list.current' %>:</span>
              <%= link_to_current_list %>
            </div>
            <div class="open">
              <%= link_to t('actions.open'), ajax_lists_path, class: 'icon-folder-open' %>
            </div>
          </li>
          <li class="lists">
            <%= link_to t('labels.sections.lists'), lists_path, class: 'icon-list' %>
          </li>
        </ul>
      </nav>
      <div id="content-wrapper">
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
