<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8"/>
    <title><%= @title %> | silo</title>

    <%= stylesheet_link_tag    'silo', media: :all %>
    <%= javascript_include_tag 'silo' %>
    <%= csrf_meta_tags %>
    <%= redirect_ie %>
  </head>
  <body class="<%= body_class.join(' ') %>">
    <div id="wrapper">
      <header id="header">
        <h1>
          <%= link_to 'silo', root_path, class: 'logo' %>
        </h1>
        <%= flash_all %>
        <ul id="user-tools">
          <li>
            <%= link_to t('actions.logout'), login_path, method: :delete,
                        class: 'icon-signout-after' %>
          </li>
          <% if current_user.admin? %>
            <li>
              <%= link_to t('labels.sections.users') , users_path, class: 'icon-cog-after'%>
            </li>
          <% end %>
          <li>
            <%= link_to current_user.full_name, profile_path, class: 'icon-user-after'%>
          </li>
        </ul>
      </header>
      <nav id="nav">
        <ul>
          <li class="experts">
            <%= link_to t('labels.sections.experts'), experts_path %>
          </li>
          <li class="partners">
            <%= link_to t('labels.sections.partners'), partners_path %>
          </li>
          <li class="references">
            <%= link_to t('labels.sections.references'), references_path %>
          </li>
          <li class="lists">
            <div class="left">
              <%= link_to t('labels.sections.lists'), lists_path,
                          class: 'icon-list-ul' %>
            </div>
            <div class="right">
              <ul>
                <li class="open-list">
                  <% if current_user.current_list %>
                    <span>
                      <%= t 'labels.list.current' %>:
                    </span>
                    <span id="current-list">
                      <%= current_user.current_list.title %>
                    </span>
                  <% end %>
                </li>
                <li class="button">
                  <%= link_to t('actions.open'), select_lists_path,
                              class: 'icon-folder-open' %>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <div id="content-wrapper">
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
    <script>
      $('div.flash').siloFlash();
      $('a.disabled').siloDisabledLinks();

      $('a[data-confirm]').siloConfirmDelete({
        submitText: <%= t('actions.delete').to_json.html_safe %>,
        abortText: <%= t('actions.abort').to_json.html_safe %>,
        headerText: <%= t('messages.generics.confirm.sure').to_json.html_safe %>,
        passwordText: <%= t('messages.user.confirm.password').to_json.html_safe %>
      });

      $('#nav li.button a').siloSelectList();
    </script>
  </body>
</html>
