<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8"/>
    <title><%= @title %> | silo</title>

    <%= stylesheet_link_tag    'silo', media: :all %>
    <%= javascript_include_tag 'silo' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= @body_class.join(' ') %>">
    <div id="wrapper">
      <header id="header">
        <h1>
          <%= link_to 'silo', root_path, class: 'logo' %>
        </h1>
        <%= flash_all %>
        <ul id="user-tools">
          <li>
            <%= button_to(t('actions.logout'), login_path, method: :delete,
                          class: 'icon-logout') %>
          </li>
          <li>
            <%= link_to current_user.full_name, profile_path %>
          </li>
        </ul>
      </header>
      <nav id="nav">
        <ul>
          <li class="experts">
            <%= link_to t('labels.sections.experts'), experts_path %>
          </li>
          <li class="partners">
            <%= link_to t('labels.sections.partners'), partners_path %>
          </li>
          <li class="references">
            <%= link_to t('labels.sections.references'), references_path %>
          </li>
          <% if current_user.admin? %>
            <li class="users">
              <%= link_to t('labels.sections.users'), users_path %>
            </li>
          <% end %>
        </ul>
      </nav>
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <script>
      $('div.flash').siloFlash();
      $('a.disabled').siloDisabledLinks();
      $('form input[type=submit].icon-delete').siloConfirmDelete({
        submitText: '<%= t('actions.submit') %>',
        abortText: '<%= t('actions.abort') %>',
        headerText: '<%= t('messages.generics.confirm.sure') %>'
      });
    </script>
  </body>
</html>
