<div class="sidebar details">
  <h2 class="icon-expert">
    <%= expert.full_name_with_degree %>
  </h2>

  <ul class="tools">
    <li>
      <%= listable_button_for expert do %>
        <span class="inactive icon-addtolist">
          <%= t 'labels.list.add' %>
        </span>
        <span class="active icon-removefromlist">
          <%= t 'labels.list.remove' %>
        </span>
      <% end %>
    </li>
    <li>
      <%= link_to t('actions.print'), expert_path(expert, format: :pdf),
                  class: 'icon-print' %>
    </li>
    <% if current_user.access?(:experts) %>
      <li>
        <%= link_to t('actions.edit'), edit_expert_path(expert),
                    class: 'icon-pencil' %>
      </li>
      <li>
        <%= delete_button_for(expert) %>
      </li>
    <% end %>
  </ul>

  <h3 class="updated_at">
    <%= Expert.human_attribute_name :updated_at %>:
    <%= l @expert.updated_at, format: :short %>
    <%= t 'labels.generic.by', name: @expert.user.try(:full_name) %>
  </h3>

  <h4>
    <%= Expert.human_attribute_name :lists %>
  </h4>

  <%= render 'shared/list_tracker', parent: @expert %>
</div>
