<div class="header details">
  <h2>
    <%= @expert.full_name_with_degree %>
  </h2>
  <h3>
    <%= t 'label.updated_at', date: l(@expert.updated_at, format: :short) %>
    <%= t 'label.by', name: @expert.user.try(:full_name) %>
  </h3>
  <ul class="tools">
    <li>
      <%= link_to(t('actions.print'), report_expert_path(@expert),
                  class: 'icon-print') %>
    </li>
    <% if current_user.access?(:experts) %>
      <li>
        <%= link_to(t('actions.edit'), edit_expert_path(@expert),
                    class: 'icon-edit') %>
      </li>
    <% end %>
  </ul>
  <ul class="tabs">
    <li class="show">
      <%= link_to t('label.personal'), expert_path(@expert) %>
    </li>
    <li class="contact">
      <%= link_to t('label.contact'), contact_expert_path(@expert) %>
    </li>
    <li class="documents">
      <%= link_to t('label.documents'), documents_expert_path(@expert) %>
    </li>
  </ul>
</div>
