<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_header' %>

  <div class="addresses">
    <h4>
      <%= t('label.addresses') %>
    </h4>
    <% @expert.addresses.each do |address| %>
      <address>
        <%= button_to 'x', [@expert, address], method: :delete %>
        <%= address.address %><br/>
        <%= address.human_country %><br/>
      </address>
    <% end %>
    <div class="form-wrapper">
      <h5>
        <%= t 'action.add_address' %>
      </h5>
      <%= form_for Address.new, url: expert_addresses_path(@expert) do |f| %>
        <p>
          <%= f.label :address %>
          <%= f.text_area :address %>
        </p>
        <p>
          <%= f.label :country %>
          <%= f.country_select :country %>
        </p>
        <p>
          <%= f.submit t('action.add_address') %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="contacts">
    <h4>
      <%= t('label.contacts') %>
    </h4>
    <% Contact::FIELDS.each do |field| %>
      <% unless (values = @expert.contact.send(field)).empty? %>
        <h5>
          <%= t(field.to_s.singularize, scope: :label) %>
        </h5>
        <ul>
          <% values.each do |val| %>
            <li>
              <%= val %>
              <%= delete_contact_button('x', [@expert, @expert.contact], field, val) if current_user.access?(:experts) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
    <div class="form-wrapper">
      <h5>
        <%= t 'action.add_contact' %>
      </h5>
      <%= form_tag expert_contacts_path(@expert) do %>
        <p>
          <%= select_tag 'contact[field]', list_contact_fields %>
        </p>
        <p>
          <%= text_field_tag 'contact[contact]' %>
        </p>
        <p>
          <%= submit_tag t('action.add_contact') %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="clear"></div>
</div>
