<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_header' %>

  <div class="contacts">
    <h4 class="icon-addresses">
      <%= t 'labels.contact.index' %>
    </h4>
    <table>
      <tbody>
        <% if @expert.contact.empty? %>
          <tr>
            <td>
              <%= t 'messages.expert.errors.no_contacts' %>
            </td>
          </tr>
        <% else %>
          <% Contact::FIELDS.each do |field| %>
            <% @expert.contact.send(field).each do |val| %>
              <tr>
                <td>
                  <%= contact_value val, field %>
                </td>
                <td>
                  <%= t field.to_s.singularize, scope: [:values, :contacts] %>
                </td>
                <% if current_user.access?(:experts) %>
                  <td class="del">
                    <%= contact_delete_button('x', [@expert, @expert.contact],
                                              field, val, class: 'icon-delete') %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div><!-- contacts -->
  <div class="addresses">
    <h4 class="icon-addresses">
      <%= t 'labels.address.index' %>
    </h4>
    <ul>
      <% if @expert.addresses.empty? %>
        <li class="empty">
          <%= t 'messages.expert.errors.no_addresses' %>
        </li>
      <% else %>
        <% @expert.addresses.each do |address| %>
          <li>
            <% if current_user.access?(:experts) %>
              <%= button_to('x', [@expert, address], method: :delete,
                            class: 'icon-delete') %>
            <% end %>
            <address>
              <%= simple_format address.address %>
              <%= address.country.try(:human) %>
            </address>
          </li>
        <%end %>
      <% end %>
    </ul>
  </div><!-- addresses -->
  <div class="forms">
     <div class="contact">
      <h4>
        <%= t 'labels.contact.new' %>
      </h4>
      <%= form_tag expert_contacts_path(@expert) do %>
        <div>
          <%= select_tag 'contact[field]', contact_field_options %>
        </div>
        <div>
          <%= text_field_tag 'contact[contact]' %>
          <%= submit_tag t('actions.add') %>
        </div>
      <% end %>
    </div>
    <div class="address">
      <h4>
        <%= t 'labels.address.new' %>
      </h4>
      <%= form_for Address.new, url: expert_addresses_path(@expert) do |f| %>
        <div>
          <%= f.text_area :address %>
        </div>
        <div>
          <%= f.collection_select :country, Country.ordered, :id, :human %>
          <%= f.submit t('actions.add') %>
        </div>
      <% end %>
    </div>
  </div><!-- forms -->
  <div class="clear"></div>
</div>
