<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_header' %>
  <div class="documents">
    <div class="cvs">
      <h4>
        <%= t 'labels.cv.index' %>
      </h4>
      <table>
        <tbody>
          <% if @expert.cvs.empty? %>
            <tr>
              <td>
                <%= t 'messages.expert.errors.no_cvs' %>
              </td>
            </tr>
          <% else %>
            <% @expert.cvs.each do |cv| %>
              <tr>
                <td class="icon-cv">
                  <%= link_to cv.language.human, [@expert, cv] %>
                </td>
                <td>
                  <%= cv.ext %>
                </td>
                <td>
                  <%= l cv.created_at, format: :long %>
                </td>
                <% if current_user.access?(:experts) %>
                  <td class="del">
                    <%= button_to('x', [@expert, cv], method: :delete,
                                  class: 'icon-delete',
                                  confirm: t('messages.cv.confirm.delete')) %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div><!-- cvs -->
    <div class="attachments">
      <h4>
        <%= t 'labels.attachment.index' %>
      </h4>
      <table>
        <tbody>
          <% if @expert.attachments.empty? %>
            <tr>
              <td>
                <%= t 'messages.expert.errors.no_attachments' %>
              </td>
            </tr>
          <% else %>
            <% @expert.attachments.each do |attachment| %>
              <tr>
                <td class="icon-attachment">
                  <%= link_to attachment.title, [@expert, attachment] %>
                </td>
                <td>
                  <%= attachment.ext %>
                </td>
                <td>
                  <%= l attachment.created_at, format: :long %>
                </td>
                <% if current_user.access?(:experts) %>
                  <td class="del">
                    <%= button_to('x', [@expert, attachment], method: :delete,
                                  class: 'icon-delete',
                                  confirm: t('messages.attachment.confirm.delete')) %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div><!-- attachments -->
    <% if current_user.access?(:experts) %>
      <div class="forms">
        <div class="cv">
          <%= form_for Cv.new, url: expert_cvs_path(@expert) do |f| %>
            <div class="input">
              <%= f.collection_select(:language_id, Language.priority_ordered,
                                      :id, :human) %>
            </div>
            <div>
              <%= f.file_field :file %>
              <%= f.submit t('actions.add') %>
            </div>
          <% end %>
        </div>
        <div class="attachment">
          <%= form_for Attachment.new, url: expert_attachments_path(@expert) do |f| %>
            <div class="input">
              <%= f.text_field :title,
                               placeholder: Attachment.human_attribute_name(:title) %>
            </div>
            <div>
              <%= f.file_field :file %>
              <%= f.submit t('actions.add') %>
            </div>
          <% end %>
        </div>
      </div><!-- forms -->
    <% end %>
    <div class="clear"></div>
  </div>
</div>
