<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_sidebar', expert: @expert %>

  <div class="tabbed-content">
    <ul class="tabs">
      <li class="details">
        <%= link_to t('labels.expert.details'), expert_path(@expert) %>
      </li>
      <li class="documents">
        <%= link_to t('labels.expert.documents'), documents_expert_path(@expert) %>
      </li>
    </ul>

    <div class="content">
      <% if current_user.access?(:experts) %>
        <ul class="tools">
          <li class="new-cv">
            <%= link_to t('labels.cv.new'),
                        new_ajax_expert_cv_path(@expert),
                        class: 'hidden-form icon-plus' %>
          </li>
          <li class="new-attachment">
            <%= link_to t('labels.attachment.new'),
                        new_ajax_expert_attachment_path(@expert),
                        class: 'hidden-form icon-plus' %>
          </li>
        </ul>
      <% end %>

      <div class="docs info">
        <div class="cvs">
          <h4>
            <%= Expert.human_attribute_name :cvs %>
          </h4>

          <%= render 'shared/cvs_table', parent: @expert %>
        </div>
        <div class="attachments">
          <h4>
            <%= Expert.human_attribute_name :attachments %>
          </h4>

          <%= render 'shared/attachments_table', parent: @expert %>
        </div>
      </div>
    </div>
  </div>

  <div class="clear"></div>
</div>
