<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_header' %>
  <div class="cvs">
    <ul>
      <% @expert.cvs.each do |cv| %>
        <li>
          <%= link_to cv.language.human, [@expert, cv] %>
          <%= l cv.created_at, format: :long %>
          <%= button_to 'x', [@expert, cv], method: :delete %>
        </li>
      <% end %>
    </ul>
    <%= form_for Cv.new, url: expert_cvs_path(@expert) do |f| %>
      <p>
        <%= f.label :file %>
        <%= f.file_field :file %>
      </p>
      <p>
        <%= f.label :language_id %>
        <%= f.collection_select :language_id, languages, :id, :human %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
  <div class="attachments">
    <ul>
      <% @expert.attachments.each do |attachment| %>
        <li>
          <%= link_to attachment.title, [@expert, attachment] %>
          <%= l attachment.created_at, format: :long %>
          <%= button_to 'x', [@expert, attachment], method: :delete %>
        </li>
      <% end %>
    </ul>
    <%= form_for Attachment.new, url: expert_attachments_path(@expert) do |f| %>
      <p>
        <%= f.label :file %>
        <%= f.file_field :file %>
      </p>
      <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
</div>
