<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_header' %>

  <ul>
    <% @expert.cvs.each do |cv| %>
      <li>
        <%= link_to cv.language.human, [@expert, cv] %>
        <%= l cv.created_at, format: :long %>
        <%= button_to 'x', [@expert, cv], method: :delete %>
      </li>
    <% end %>
  </ul>

  <%= form_for Cv.new, url: expert_cvs_path(@expert) do |f| %>
    <p>
      <%= f.label :file %>
      <%= f.file_field :file %>
    </p>
    <p>
      <%= f.label :language_id %>
      <%= f.collection_select :language_id, languages, :id, :human %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
