<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_header', expert: @expert %>

  <div class="documents">
    <div class="cvs">
      <h4>
        <%= t 'labels.cv.index' %>
      </h4>

      <%= render 'shared/cvs_table', parent: @expert %>

      <% if current_user.access?(:experts) %>
        <div>
          <%= link_to t('labels.cv.new'),
                      new_ajax_expert_cv_path(@expert),
                      class: 'hidden-form icon-plus' %>
        </div>
      <% end %>
    </div><!-- cvs -->

    <div class="attachments">
      <h4>
        <%= t 'labels.attachment.index' %>
      </h4>

      <%= render 'shared/attachments_table', parent: @expert %>

      <% if current_user.access?(:experts) %>
        <div>
          <%= link_to t('labels.attachment.new'),
                      new_ajax_expert_attachment_path(@expert),
                      class: 'hidden-form icon-plus' %>
        </div>
      <% end %>
    </div><!-- attachments -->
    <div class="clear"></div>
  </div>
</div>
