<%= render 'sidebar' %>

<div id="main">
  <div>
    <h2>
      <%= @title %>
    </h2>
    <div class="form-wrapper">
      <%= form_for @expert do |f| %>
        <div class="row main">
          <div class="gender">
            <%= f.label :gender %>
            <%= f.select :gender, list_genders %>
          </div>
          <div class="degree">
            <%= f.label :degree %>
            <%= f.text_field :degree %>
          </div>
          <div class="prename">
            <%= f.label :prename %>
            <%= f.text_field :prename %>
          </div>
          <div class="name">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
        </div>
        <div class="row birth">
          <div class="citizenship">
            <%= f.label :citizenship %>
            <%= f.country_select :citizenship %>
          </div>
          <div class="birthday">
            <%= f.label :birthday %>
            <%= f.date_select :birthday, start_year: 1901, end_year: Time.now.year %>
          </div>
        </div>
        <div class="row lang">
          <div class="languages">
            <%= f.label :languages %>
            <div class="multi-lang">
              <%= language_select_tags @expert.languages %>
            </div>
          </div>
        </div>
        <div class="row business">
          <div class="job">
            <%= f.label :job %>
            <%= f.text_field :job %>
          </div>
          <div class="former_collaboration">
            <%= f.label :former_collaboration %>
            <%= f.check_box :former_collaboration %>
          </div>
          <div class="fee">
            <%= f.label :fee %>
            <%= f.text_field :fee %>
          </div>
        </div>
        <div class="row">
          <div class="comment">
            <%= f.fields_for @expert.comment do |fields| %>
              <div>
                <%= fields.label :comment %>
                <%= fields.text_area :comment, rows: "5" %>
              </div>
            <% end %>
          </div>
          <div>
            <%= f.submit t('action.save'), class: 'button' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>

<script>
  $('div.multi-lang select').siloClickAway().parent().parent().siloClickAndClone();
</script>
