<%= render 'sidebar' %>

<div id="main">
  <div>
    <div class="header">
      <h2>
        <%= @title %>
      </h2>
      <div class="pagination">
        <%= paginate @experts %>
      </div>
    </div>
    <div id="filter" class="form-wrapper">
      <%= form_tag search_experts_path, method: :get do %>
        <ul>
          <li>
            <%= language_select_tag(:language, params[:language],
                                    prompt: t('label.language')) %>
          </li>
          <li>
            <%= country_select_tag(:citizenship, params[:citizenship],
                                   prompt: t('label.citizenship')) %>
          </li>
          <li class="name">
            <%= text_field_tag :name, params[:name], placeholder: t('label.name') %>
          </li>
          <li class="q">
            <%= text_field_tag :q, params[:q], placeholder: 'CVs & Comments' %>
          </li>
          <li>
            <%= submit_tag 'Search' %>
          </li>
        </ul>
        <div class="clear"></div>
      <% end %>
    </div>
    <table class="experts">
      <thead>
        <tr>
          <th></th>
          <th>
            <%= t 'label.name' %><span></span>
          </th>
          <th>
            <%= t 'label.prename' %><span></span>
          </th>
          <th>
            <%= t 'label.degree' %><span></span>
          </th>
          <th>
            <%= t 'label.age' %><span></span>
          </th>
          <th>
            <%= t 'label.citizenship' %><span></span>
          </th>
          <th>
            <%= t 'label.cv' %><span></span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @experts.each do |expert| %>
          <tr>
            <td>
            </td>
            <td class="<%= expert.gender %>">
              <%= link_to expert.name, expert_path(expert) %>
            </td>
            <td>
              <%= link_to expert.prename, expert_path(expert) %>
            </td>
            <td>
              <%= expert.degree %>
            </td>
            <td>
              <%= expert.age %>
            </td>
            <td>
              <%= expert.human_citizenship %>
            </td>
            <td class="cvs">
              <%= list_cvs expert %>
            </td>
            <td class="attachments">
              <% unless expert.attachments.empty? %>
                <%= link_to t('label.documents'), documents_expert_path(expert) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination bottom">
      <%= paginate @experts %>
    </div>
  </div>
</div>
