<%= render 'sidebar' %>

<div id="main">
  <div>
    <div class="header">
      <div id="quicksearch">
        <%= text_field_tag :search, nil, placeholder: t('label.quicksearch') %>
        <%= submit_tag t('label.search') %>
      </div>
      <div id="toggle_filter_button" class="button">
        <%= t('label.advanced_search') %>
      </div>
      <div class="pagination">
        <%= paginate @experts %>
      </div>
      <div id="filter">
        <%= form_tag search_experts_path, method: :get do %>
          <ul>
            <li>
              <%= label_tag :name %>
              <%= text_field_tag :name %>
            </li>
            <li>
              <%= label_tag :citizenship %>
              <%= country_select_tag(:citizenship, params[:citizenship],
                                     prompt: t('label.citizenship')) %>
            </li>
          </ul>
          <ul>
            <li>
              <table>
                <tr>
                  <td width="70%">
                    <%= label_tag :language %>
                  </td>
                  <td>
                    <%= label_tag :degree %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= language_select_tag(:language, params[:language],
                                            prompt: t('label.language')) %>
                  </td>
                  <td>
                    <%= degree_select_tag(:degree, params[:degree],
                                          prompt: t('label.degree')) %>
                  </td>
                </tr>
              </table>
            </li>
            <li>
              <%= label_tag :q %>
              <%= text_field_tag :q %>
              <%= submit_tag 'Search' %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <table class="experts">
      <thead>
        <tr>
          <th></th>
          <th>
            <%= t 'label.name' %><span></span>
          </th>
          <th>
            <%= t 'label.prename' %><span></span>
          </th>
          <th>
            <%= t 'label.degree' %><span></span>
          </th>
          <th>
            <%= t 'label.age' %><span></span>
          </th>
          <th>
            <%= t 'label.citizenship' %><span></span>
          </th>
          <th>
            <%= t 'label.cv' %><span></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @experts.each do |expert| %>
          <tr>
            <td>
            </td>
            <td class="<%= expert.gender %>">
              <%= link_to expert.name, expert_path(expert) %>
            </td>
            <td>
              <%= link_to expert.prename, expert_path(expert) %>
            </td>
            <td>
              <%= expert.degree && t(expert.degree, scope: :degree) %>
            </td>
            <td>
              <%= expert.age %>
            </td>
            <td>
              <%= expert.human_citizenship %>
            </td>
            <td class="cvs">
              <%= list_cvs expert %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination bottom">
      <%= paginate @experts %>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $('#toggle_filter_button').siloToggler('#filter');
});
</script>
