<%= render 'sidebar' %>

<div id="main">
  <div>
    <div id="experts_header" class="header">
      <h2>
        <%= @title %>
      </h2>
      <div id="quicksearch">
        <%= text_field_tag :search, nil, placeholder: t('label.search') %>
        <%= submit_tag t('label.search') %>
      </div>
      <div id="toggle_filter_button" class="button">
        <%= t('label.advanced_search') %>
      </div>
      <div id="filter">
        Filter Form
      </div>
    </div>
    <br/>
    <table class="experts">
      <thead>
        <tr>
          <th></th>
          <th>
            <%= t 'label.name' %><span>⇳</span>
          </th>
          <th>
            <%= t 'label.degree' %><span>⇳</span>
          </th>
          <th>
            <%= t 'label.age' %><span>⇳</span>
          </th>
          <th>
            <%= t 'label.citizenship' %><span>⇳</span>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @experts.each do |expert| %>
          <tr>
            <td class="<%= expert.gender %>">
            </td>
            <td>
              <p>
                <%= link_to expert.full_name, expert_path(expert) %>
              </p>
            </td>
            <td>
              <%= expert.degree %>
            </td>
            <td>
              <%= expert.age %>
            </td>
            <td>
              <%= expert.citizenship %>
            </td>
            <td class="icons">
              <div>
                <%= button_to(t('action.delete'), expert_path(expert),
                              { method: :delete, class: 'delete' }) %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
$(document).ready(function(){
  $('#toggle_filter_button').siloToggler('#filter');
  $('input.delete').siloConfirmDelete();
});
</script>
