<%= render 'sidebar' %>

<div id="main">
  <div>
    <div id="experts_header">
      <h2>
        <%= @title %>
      </h2>
      <div id="quicksearch">
        <%= text_field_tag :search, nil, placeholder: t(:label_search) %>
        <%= submit_tag t(:label_search) %>
      </div>
      <div id="toggle_filter_button">
        <%= t(:label_advanced_search) %>
      </div>
      <div id="filter">
        Filter Form
      </div>
    </div>
    <table class="experts">
      <thead>
        <tr>
          <th>
            <%= t :label_name %><span>⇳</span>
          </th>
          <th>
            <%= t :label_degree %><span>⇳</span>
          </th>
          <th>
            Bums<span>⇳</span>
          </th>
          <th>
            <%= t :label_age %><span>⇳</span>
          </th>
          <th>
            <%= t :label_citizenship %><span>⇳</span>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @experts.each do |expert| %>
          <tr>
            <td class="<%= expert.gender %>">
              <p>
                <%= expert.full_name %> 
              </p>
            </td>
            <td>
              <%= expert.degree %>
            </td>
            <td>
              <%= expert.birthplace %>
            </td>
            <td>
              <%= l(expert.birthday, format: :short) if expert.birthday %>
            </td>
            <td>
              <%= expert.citizenship %>
            </td>
            <td class="icons">
              <%= button_to 'h', expert_path(expert), method: :delete, class: 'delete' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $('#toggle_filter_button').siloToggler('#filter');
  $('input.delete').siloConfirmDelete();
</script>