<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_header', expert: @expert %>

  <div class="left">
    <div class="info">
      <div class="row">
        <div class="citizenship">
          <h4><%= Expert.human_attribute_name :country %></h4>
          <p><%= @expert.country.try(:human) %></p>
        </div>
        <div class="birthday">
          <h4><%= Expert.human_attribute_name :birthday %></h4>
          <p><%= @expert.human_birthday %></p>
        </div>
        <div class="gender">
          <h4><%= Expert.human_attribute_name :gender %></h4>
          <p><%= @expert.human_gender %></p>
        </div>
      </div>
      <div class="row">
        <div class="languages" >
          <h4><%= Expert.human_attribute_name :languages %></h4>
          <p><%= @expert.languages.to_sentence %></p>
        </div>
      </div>
      <div class="row">
        <div class="job">
          <h4><%= Expert.human_attribute_name :job %></h4>
          <p><%= @expert.job %></p>
        </div>
      </div>
      <div class="row">
        <div class="fee">
          <h4><%= Expert.human_attribute_name :fee %></h4>
          <p><%= @expert.fee %></p>
        </div>
        <div class="former-collaboration">
          <h4><%= Expert.human_attribute_name :former_collaboration %></h4>
          <p><%= @expert.human_former_collaboration %></p>
        </div>
      </div>
      <div class="row last">
        <div class="comments">
          <h4><%= Expert.human_attribute_name :comment %></h4>
          <%= markdown @expert.comment.comment %>
        </div>
      </div>
    </div>
  </div><!-- left -->

  <div class="right">
    <div class="info addresses">
      <div class="row last">
        <% if current_user.access?(:experts) %>
          <div class="tools">
            <%= link_to t('labels.address.new'),
                        new_ajax_expert_address_path(@expert),
                        class: 'hidden-form icon-plus tool' %>
          </div>
        <% end %>
        <h4><%= Expert.human_attribute_name :addresses %></h4>
        <%= render 'shared/addresses_table', parent: @expert %>
      </div>
    </div><!-- addresses -->

    <div class="info contacts">
      <div class="row last">
        <% if current_user.access?(:experts) %>
          <div class="tools">
            <%= link_to t('labels.contact.new'),
                        new_ajax_expert_contact_path(@expert),
                        class: 'hidden-form icon-plus tool' %>
          </div>
        <% end %>
        <h4><%= Expert.human_attribute_name :contacts %></h4>
        <%= render 'shared/contacts_table', parent: @expert %>
      </div>
    </div><!-- contacts -->
  </div><!-- right -->
  <div class="clear"></div>
</div>
