<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_sidebar', expert: @expert %>

  <div class="tabbed-content">
    <ul class="tabs">
      <li class="details">
        <%= link_to t('labels.expert.details'), expert_path(@expert) %>
      </li>
      <li class="documents">
        <%= link_to t('labels.expert.documents'), documents_expert_path(@expert) %>
      </li>
    </ul>

    <div class="content">
      <% if current_user.access?(:experts) %>
        <ul class="tools">
          <li class="new-address">
            <%= link_to t('labels.address.new'),
                        new_ajax_expert_address_path(@expert),
                        class: 'hidden-form icon-plus' %>
          </li>
          <li class="new-contact">
            <%= link_to t('labels.contact.new'),
                        new_ajax_expert_contact_path(@expert),
                        class: 'hidden-form icon-plus' %>
          </li>
        </ul>
      <% end %>

      <div class="left">
        <ul class="info">
          <li class="citizenship">
            <h4><%= Expert.human_attribute_name :country %></h4>
            <p><%= @expert.country.try(:human) %></p>
          </li>
          <li class="birthday">
            <h4><%= Expert.human_attribute_name :birthday %></h4>
            <p><%= @expert.human_birthday %></p>
          </li>
          <li class="gender">
            <h4><%= Expert.human_attribute_name :gender %></h4>
            <p><%= @expert.human_gender %></p>
          </li>
          <li class="languages">
            <h4><%= Expert.human_attribute_name :languages %></h4>
            <p><%= @expert.languages.to_sentence %></p>
          </li>
          <li class="job">
            <h4><%= Expert.human_attribute_name :job %></h4>
            <p><%= @expert.job %></p>
          </li>
          <li class="fee">
            <h4><%= Expert.human_attribute_name :fee %></h4>
            <p><%= @expert.fee %></p>
          </li>
          <li class="former-collaboration">
            <h4><%= Expert.human_attribute_name :former_collaboration %></h4>
            <p><%= @expert.human_former_collaboration %></p>
          </li>
          <li class="comments">
            <h4><%= Expert.human_attribute_name :comment %></h4>
            <%= markdown @expert.comment.comment %>
          </li>
        </ul>
      </div>

      <div class="right">
        <div class="info addresses">
          <h4><%= Expert.human_attribute_name :addresses %></h4>
          <%= render 'shared/addresses_table', parent: @expert %>
        </div><!-- addresses -->

        <div class="info contacts">
          <h4><%= Expert.human_attribute_name :contacts %></h4>
          <%= render 'shared/contacts_table', parent: @expert %>
        </div><!-- contacts -->
      </div>

    </div>
  </div>
  <div class="clear"></div>
</div>
