<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_header' %>
  <div class="personal">
  	<dl>
  	  <dt>
  	  	<%= Expert.human_attribute_name :citizenship %>
  	  </dt>
  	  <dd>
  		  <%= @expert.human_citizenship %>
  	  </dd>
  	  <dt>
  	  	<%= Expert.human_attribute_name :birthday %>
  	  </dt>
  	  <dd>
  		  <%= l(@expert.birthday, format: :short) if @expert.birthday %>
  	  </dd>
  	  <dt>
  	  	<%= Expert.human_attribute_name :language %>
  	  </dt>
  	  <dd>
	  	  <%= @expert.languages.join(', ') %>
  	  </dd>
  	  <dt>
  	  	<%= Expert.human_attribute_name :job %>
  	  </dt>
  	  <dd>
  		  <%= @expert.job %>
  	  </dd>
  	  <dt>
  	  	<%= Expert.human_attribute_name :former_collaboration %>
  	  </dt>
  	  <dd>
  		  <%= @expert.human_former_collaboration %>
  	  </dd>
  	  <dt>
  	  	<%= Expert.human_attribute_name :fee %>
  	  </dt>
  	  <dd>
  		  <%= @expert.fee %>
  	  </dd>
  	  <dt>
  	  	<%= Expert.human_attribute_name :comment %>
  	  </dt>
  	  <dd>
  		  <%= markdown @expert.comment.comment %>
  	  </dd>
  	</dl>
  </div>
  <div class="clear"></div>
</div>
